@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --title-font: 'Sansita',sans-serif;
    --text-font: 'Raleway',sans-serif;
    --main-color: #263044;
    --back-color: #ffffff;
    --accent-color: #f65944;
    --accent-back-color: #f5f5f5;
    --link-color: #5db2d7;
    --text-color:#4b4443;
    --light-text-color: #9da5ac;
}

* {
    margin: 0;
    padding: 0;
}

/* NavBar */
.bg-dark {
    background-color: var(--main-color)!important;
}
.container-fluid {
    max-width: 980px;
    margin: auto;
}
.navbar-brand {
    text-decoration: none;
    font-family: var(--title-font);
    color: var(--back-color);
    line-height: 1.4375;
    font-size: 32px;
    letter-spacing: -.021em;
    cursor: pointer;
    margin-left: 0;
}
.nav-link {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
    color: var(--back-color);
}
.nav-link:hover {
    color: var(--link-color);
    cursor: pointer;
}
.navbar-toggler {
    border: none;
    color: var(--back-color);
}
.container {
    display: flex;
    flex-direction: column;
}
.container-fluid {
    display: grid;
    grid-template-columns: 75% 25%;
}
.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s all;
}
#bignav {
    display: none!important;
}
@media (min-width:850px) {
    .navbar-toggler {
        display: none;
    }
    .container-fluid {
        grid-template-columns: 10% 90%;
        align-items: center;
    }
    #bignav {
        display: flex!important;
        padding-left: 125px;
        padding-top: 6px;
    }
}
@media (min-width:985px) {
    .container-fluid {
        grid-template-columns: 30% 70%;
        align-items: center;
    }
}

/* Want to work with us? */
.book {
    background-size: cover;
    background-image:linear-gradient(rgba(8, 20, 44, 0.50), rgba(8, 20, 44, 0.50)), url(../img/mainpic.webp);
}
.book-box {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-title {
    font-size: 55px;
    font-style: italic;
    letter-spacing: 0;
    font-family: var(--title-font);
    color: var(--back-color);
    margin-top: 50px;
    margin-bottom: 25px;
}
.book-description {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0;
    font-family: var(--text-font);
    color: var(--back-color);
    word-wrap: break-word;
    max-width: 250px;
}
.book-form {
    background-color: var(--back-color);
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.book-form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
.book-form-title {
    font-family: var(--text-font);
    font-size: 24px;
    line-height: 1.3;
    color: var(--main-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.book-form-description {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-color);
    text-align: center;
}
.form-label {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 1.56;
    color: var(--main-color);
    margin-right: 15px;
    margin-left: 15px;
}
.form-control, .form-select {
    max-width: 250px;
    margin-bottom: 25px;
    background-color: var(--accent-back-color);
}
.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-form-button {
    background-color: var(--accent-color);
    margin-top: 20px;
    min-width: 250px;
    margin-bottom: 25px;
    border: none;
    border-radius: 15px;
    min-height: 35px;
}
@media (min-width:750px) {
    .book-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .book-title {
    font-size: 125px;
    }
    .book-description {
    min-width: 100%;
    }
}

